<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

        <div class="container">

            <table id="myTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>idUser</th>
                    <th>Firstname:</th>
                    <th>Lastname:</th>
                    <th>Is lock?</th>
                    <th>Do you want delete account?</th>
                    <th>Do you want lock or unlock account?</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="user : ${users}">
                    <td data-th-text="${user.idUser}"/>
                    <td data-th-text="${user.firstName}"/>
                    <td data-th-text="${user.lastName}"/>
                    <td data-th-text="${user.lock}"/>
                    <td><a th:href="@{/deleteUser/(userId=${user.idUser})}" class="btn btn-danger">Delete</a></td>
                    <td><a th:href="@{/makeLockOrUnlock/${user.idUser}/${user.lock}}" class="btn btn-danger">make</a></td>
                </tr>
                </tbody>
            </table>
        </div>



    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>
