<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <form>
        <div class="form-group" th:action="@{registration}" th:object="${user}" method="post">
            <label for="usr">Type email:</label>
            <input type="text" class="form-control" id="usr"/>
        </div>
        <form>
            <label>Type email:</label>
            <input type="text" />
            <button type="button" class="btn btn-primary">delete account</button>
        </form>

        <form>
            <label>Type email:</label>
            <input type="text" />
            <button type="button" class="btn btn-primary">Lock account</button>
        </form>

        <form>
            <label>Type email:</label>
            <input type="text" />
            <button type="button" class="btn btn-primary">Unlock account</button>
        </form>

        <div class="container">

            <table id="myTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>idUser</th>
                    <th>Firstname:</th>
                    <th>Lastname:</th>
                    <th>Is lock?</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="user : ${users}">
                    <td data-th-text="${user.idUser}"/>
                    <td data-th-text="${user.firstName}"/>
                    <td data-th-text="${user.lastName}"/>
                    <td data-th-text="${user.lock}"/>
                </tr>
                </tbody>
            </table>
        </div>


    </form>


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>
